<ul class="CartList-Header">
  <li class="CartList-HeaderItem CartList-HeaderItem--Article"><p>Artikel</p></li>
  <li class="CartList-HeaderItem CartList-HeaderItem--Details"><p>Details</p></li>
  <li class="CartList-HeaderItem CartList-HeaderItem--Quantity"><p>Anzahl</p></li>
  <li class="CartList-HeaderItem CartList-HeaderItem--Price"><p>Preis</p></li>
</ul>

<div class="CartList-Items">
  <template ngFor #cartProduct [ngForOf]="cartProducts">
  <ul class="CartList-ItemList">
    <li class="CartList-Item CartList-Item--Article">
      <img class="CartList-ItemImage" [src]=cartProduct.item.productImage alt="{{cartProduct.item.productHeading}}"/>
      <p class="CartList-ItemName">{{cartProduct.item.productHeading}}</p>
    </li>
    <li class="CartList-Item CartList-Item--Details">
      <span class="CartList-ItemDetails" [innerHTML]="cartProduct.item.productDetails"></span>
    </li>
    <li class="CartList-Item CartList-Item--Quantity">
      <input-quantity
        min="0"
        [max]="cartProduct.item.stock"
        [quantity]="cartProduct.quantity"
        (change)="onQuantityChange(cartProduct.item.id, $event)">
      </input-quantity>
    </li>
    <li class="CartList-Item CartList-Item--Price">
      <p class="CartList-ItemPrice">
        {{cartProduct.item.price.value}} &euro;/mtl.
      </p>
      <button
        class="CartList-ItemDeleteButton"
        (click)="onDelete(cartProduct.item.id)">
        x
      </button>
    </li>
  </ul>
  </template>
</div>
