.Homepage {
  position: relative;

  margin: 0 auto;

  width: 100%;
  max-width: 1170px;

  .InputButton {
    float: left;
  }

  .CartCalculator {
    float: right;
  }
}

.CartPaymentZone {
  position: relative;

  width: 100%;

  margin-top: 35px;

  overflow: hidden;
}
