.Homepage {
  position: relative;

  margin: 0 auto;

  width: 100%;
  max-width: 1170px;
}

.CartPaymentZone {
  position: relative;

  width: 100%;

  margin-top: 35px;

  overflow: hidden;
}

.CartCalculator {
  float: right;
}
