// colors
$color-tango: #f18713;
$color-monza: #e30613;
$color-mariner: #2f82c4;

// grays
$color-white: #fff;
$color-wild-sand: #f5f5f5;
$color-mercury: #e7e7e7;
$color-alto: #d5d5d5;
$color-silver-chalice: #a7a7a7;
$color-tundora: #414141;
