@mixin mobile {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    @content;
  }
}

@mixin tablet-beyond {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 1024px) {
    @content;
  }
}
